table {
    width: calc(100% - 80px);
    margin: auto;
  }
  
  h1 { 
    margin: 40px;
  }
  
  .edit-icon {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .delete-icon {
    cursor: pointer;
  }

  